<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/stream.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/common.js"></script>
    <meta charset="UTF-8">
    <title>Stream图表展示</title>
</head>
<body>
    <div id="stream-chart" style="width: 650px;height:700px;"></div>
    <div id="stream-city-chart" style="width: 650px;height:700px;"></div>
    <script src="/js/stream.js"></script>
</body>
</html>